@media (max-width:450px){
	#cardsContainer{
	display : flex;
	flex-flow: column;
    	margin-top: 5px;
					}
}

@media (min-width:451px){
	#cardsContainer{
	display : flex;
	margin-top: 5px;
    flex: 3;
	}
}

h1 {
	margin-bottom: 1px;
}

h4 {
	margin-top: 1px;
}

#central{
    padding-bottom: 10px;
	display : flex;
}

header{
    flex: 1;
}

#sectionCentral{
    flex: 3;
}

.font{
    	color : white;
	    font-family: "Corbel";
}

.shadow{
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.center{
        text-align: center;
}

.marginIt {
	margin-bottom:5px;
}

#form{
    flex: 1;
}

body {
	background-image: linear-gradient(to bottom right, #243E90 0%, #457FBA 100%);
    display : flex;
	flex-flow: column;
    min-height: 100vh;
}

.font4{
    font-size: 4vmin;
    flex:1 1 auto;
}

.vote{
    margin-bottom: 10px;
}

#buttonInside{
    margin-top: 10px;
}

.hid{
    font-size: 5vmin;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.card {
	background-color: rgba(204,204,204, 0.9);
	margin-right: 10px;
	flex: 1;
    display: flex;    
    align-items: center;
}

.nype {
    font-size: 8vmin;
    flex: 1 1 auto;
    align-self: center;
}

footer {
    font-size: 2vmin;
    margin-top: 15px;
    flex: 1;
}